### **Introduction to `for` Loops**

In programming, a `for` loop provides a clean and concise way to iterate over a sequence of items. It's one of the most commonly used loops due to its simplicity and versatility in handling structured data types.

---

### **Iterating Over Ranges**

The `range()` function generates a sequence of numbers, which can be used in a `for` loop to repeat an action a specific number of times.

**Basic Syntax:**
```python
for variable in range(start, stop, step):
    # body of the loop
```

- `start`: The beginning value (optional, default is 0).
- `stop`: The end value (exclusive).
- `step`: The increment/decrement value (optional, default is 1).

**Example 1:** Counting from 0 to 4
```python
for i in range(5):
    print(i)
```

**Example 2:** Counting from 2 to 8 in steps of 2
```python
for i in range(2, 9, 2):
    print(i)
```

---

### **Iterating Over Lists**

A `for` loop can directly iterate over items in a list without needing to reference indices.

**Basic Syntax:**
```python
for item in list_name:
    # body of the loop
```

**Example:** Printing all items in a list
```python
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)
```

**Note:** The `for` loop can also iterate over other iterable data types like tuples, sets, strings, and dictionaries.

---

In [ ]:
#You can play around with the examples in this cell
i=5/2
print(i)

2.5


### **Practice Exercises:**

1. **Number Doubler:** For numbers 1 through 10, print each number doubled.

In [ ]:
#Ex1
for i in range(1,11):
    print(2*i)

2
4
6
8
10
12
14
16
18
20

2. **Vowel Finder:** Given a word, iterate over it and print only the vowels.

In [ ]:
#Ex2
word=input("Word:")
for i in range(len(word)):
    if word[i]=="a":
      print(word[i])
    elif word[i]=='e':
      print(word[i])
    elif word[i]=='i':
      print(word[i])
    elif word[i]=='o':
      print(word[i])
    elif word[i]=='u':
      print(word[i])

Word:apple
a
e

3. **List Reverser:** Without using built-in functions, reverse the items in a list.

In [1]:
def r(lst):
    l = 0
    ri = len(lst) - 1

    while l < ri:

        lst[l], lst[ri] = lst[ri], lst[l]

        l += 1
        ri -= 1

m= [1, 2, 3, 4, 5]
r(m)
print(m)

[5, 4, 3, 2, 1]

4. **Odd Number Counter:** Given a list of numbers, count how many odd numbers there are.

In [ ]:
#Ex4
num=[1,2,3,4,5,6,7,8,9]
odd=0
for i in num:
 if (i/2)-(i//2)!=0:
  odd+=1
print(odd)

5

5. **Grade Assigner:** For a list of scores, assign and print grades (e.g., A, B, C).

In [ ]:
#Ex5
def ag(score):
    if score >= 90:
        return 'A'
    elif score >= 80:
        return 'B'
    elif score >= 70:
        return 'C'
    elif score >= 60:
        return 'D'
    else:
        return 'F'

scores = [85, 92, 78, 60, 45, 70, 88]

for score in scores:
    grade = ag(score)
    print(f"Score: {score}, Grade: {grade}")

Score: 85, Grade: B
Score: 92, Grade: A
Score: 78, Grade: C
Score: 60, Grade: D
Score: 45, Grade: F
Score: 70, Grade: C
Score: 88, Grade: B

6. **Word Lengths:** For a list of words, print each word alongside its length.

In [ ]:
#Ex6
word=['apple','banana','cherry']
for i in word:
  print("word:",i,"Length:",len(i))

word: apple Length: 5
word: banana Length: 6
word: cherry Length: 6

7. **Positive Number Finder:** Given a list of numbers, print only the positive ones.

In [ ]:
#Ex7
num=[1,2,3,-4,-5]
for i in num:
  if i>=0:
    print(i)

1
2
3

8. **Temperature Converter:** Convert a list of temperatures from Celsius to Fahrenheit and print them.

In [ ]:
#Ex8
temp=[0,100]
for i in temp:
  print(i*9/5+32)

32.0
212.0

9. **Name Initials:** For a list of full names, print the initials of each name.

In [ ]:
#Ex9
full = ["Samuel Chen", "Chen Samuel"]
for name in full:
    i = ''.join([part[0] for part in name.split()])
    print(i)

SC
CS

10. **Range Sum:** Calculate the sum of numbers from 1 to 100 using a `for` loop.

In [ ]:
#Ex10
sum = 0
for i in range(1, 101):
    sum += 1
print("Sum:",sum)

Sum: 5050